body {
	background-color: black;
}

#sidebar {
	float: left;
	width: 10%;
	height: 100%;
	font-family: Impact;
	color: white;
	text-align: center;
	font-size: 200%;
}

#score_container {
	width: 100%;
	height: 10%;
	color: white;
}

#menu_container {
	width: 100%;
	height: 90%;
}

#menu_list, #speeds_list {
	display: none;
}

.menu_button {
	background-color: black;
	width: 100%;
	border: none;
	font-family: Impact;
	color: white;
	font-size: 70%;
}}

.speed_option {
	font-size: 50%;
}

#hs_container {
	font-family: Impact;
	text-align: center;
	color: white;
	font-size: 200%;
}

#game_area {
	width: 90%;
	height: 99%;
	float: right;
}